APP_KEY=
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_DATABASE=instaclone
DB_USERNAME=instaclone
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MERCURE_JWT_SECRET=supersecret
